<!DOCTYPE html>
<html>
<head>
     <head><link rel="stylesheet" href="/css/style.css">
     <link rel="icon" href="/img/canvas.png" >
     <title>{{title}}
</title> 
</head>
<body><div class="main-content">{{>header}}
     <p> This Site is created by Akshay Khanna. It uses data from mapbox.com and darksky.net</p> 
     <img  class="portrait" src="/img/AboutMe.jpg">
     </div>
     {{>footer}}
</body>
</html>