<!DOCTYPE html>
<html>
<head><head><link rel="stylesheet" href="/css/style.css">
<title>{{title}}</title>
</head>

<body><div class="main-content">{{>header}}
     <p>This is a static Page of Our Concern For help {{name}}</p>
     </div>
 {{>footer}}
</body>
</html>