<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/css/style.css">

<title>{{title}}</title>
</head>
<body>
  <div class="main-content">
   {{>header}}
   <p>Use This site to go to Weather</p>
   <form>
     <input>
     <button>Search</button>
     </form>
     <p id="msg-1"></p>
     <p id="msg-2"></p>
     </div>
       {{>footer}}
       <script src="/js/app.js"></script>
</body>
</html>